<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Registered!!</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <h1 class="header">Welcome __name__</h1>
  <div class="conversation">
    <div class="messages"></div>
    <form action="sendMessage" method="POST">
      <div class="input-container">
        <input class="messageBox" type="text" name="messageBox">
        <button class="send" formaction="sendMessage">Send</button>
      </div>
    </form>
  </div>
</body>
</html>